.inner-container {
  gap: 1.5rem;
  background: orange;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 10px 10px;
  text-align: center;
}

.inner-container .primaryText {
  color: white;
  font-weight: 600;
}

.inner-container .secondaryText {
  color: rgba(255, 255, 255, 0, 587);
}

.inner-container .button {
  background: var(--blue-gradient);
  box-shadow: 5px 5px;
  border-radius: 10px;
}
